body {
   background-color: #555;
   padding: 0px;
   margin: 0px;
   border: 0px;
}
#header h1,
#header p,
#header a,
.ug-textpanel-description a {
   color: #ddd;
}
#header {
   background-color: #444;
}
#header h1 {
   display: inline-block;
   padding: 0px 20px;
}
#info {
   float: right;
   text-align: right;
   padding: 0px 20px;
   display: inline-block;
}
#headerend {
   height: 0px;
   visibility: hidden;
   display: block;
   clear: both;
}

#content {
   padding: 3px;
}
